.about {
  margin-top: 6rem;
  min-height: 40vh;
  text-align: center;

  p {
    padding: 5rem 10rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
  }

  button {
    @include main-button($button-color-dark);
    color: white;

    &:hover {
      @include button-hover-dark;
    }
  }
}