header {
  min-height: 7rem;
}

.main-head {
  position: relative;
  z-index: 2;
  background: transparent;
}

nav {
  position: fixed;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-width: 30vh;
  padding: 2rem 0rem;
  left: 50%;
  transform: translate(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;

  li a {
    text-transform: uppercase;
  }
}

#logo {
  flex: 1 1 20rem;
}

.burger,
.menu-check {
  display: none;
}

.bg-change {
  background: rgba($color: #000000, $alpha: 0.9);
  min-height: 2rem;
  color: white;
  min-width: 100vw;
  opacity: 1;
  font-weight: bold;
  transition: min-width background 1.2s ease-in;
  padding: 2rem;

  a {
    color: white;
  }
}

.nav-transition {
  transition: all 1.2s ease-in;
}

.burger-white {
  background: white !important;
}

.main-hero {
  @include flex(0, center, row);
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  .main-border-left {
    position: absolute;
    top: 20%;
    left: -25rem;
    min-width: 45rem;
    min-height: 50rem;
    border: 1.7rem solid #212121;
    opacity: 0.2;
    z-index: -1;
  }

  .main-border-right {
    position: absolute;
    top: 25%;
    right: -5rem;
    min-width: 28rem;
    min-height: 38rem;
    border: 1.7rem solid #fff;
    opacity: 0.8;
  }

  h3 {
    padding: 1.3rem;
  }


  .main-text {
    flex: 1 1 45rem;
    padding: 30rem 1rem;
  }

  .button-1 {
    @include main-button($button-color-dark);
    color: white;

    &:hover {
      @include button-hover-dark;
    }
  }

  .button-2 {
    @include main-button($button-color-white);

    &:hover {
      @include button-hover-white;
    }


  }

  .main-image {
    flex: 1 1 40rem;
    background: $background-color;
    position: relative;
    height: 100%;
    width: 100%;

    img {
      margin-top: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }
}