.info {
  margin-top: 2rem;
  min-height: 40vh;
  background: url('../img/img\ border.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include flex(center, center, row);
}

.info-text {
  @include flex(space-evenly, center, row);
  flex-wrap: wrap;
}

.text {
  padding: 1rem;
  margin: 1rem;
  color: white;
  text-align: center;
  flex: 1 1 30rem;
  height: 25rem;

  h4 {
    font-size: 10rem;
    padding: 1rem;
  }
}